@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin : 6%;
}

body {
    opacity: 1;
    transition: 0.5s opacity;
  }
  
body.fade {
      opacity: 0;
      transition: none;
  }

img {
    width:120px;
    height:120px;
    object-fit:cover;
    margin-right: 3%;
    border-radius: 50%;
}

.row {
    margin-top: 5%;
}

.artist {
    margin-bottom: 4%;
    width: 100%;
    display: inline-block;
}

.artist-info {
    vertical-align: middle;
}

.artist-genre {
    font-size: smaller;
    font-style: italic;
}

.artist-release{
    margin-top: 5%;
    line-height: 110%;
}

.artist-img, .artist-info{
    display: inline-block;
}

.artist-release-date {
    font-size: small;
}

.artist-name {
    font-weight: 300;
    line-height: 110%;
    margin-bottom: -2%;
}