<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

</head>

<body>
    <script>
        document.body.className = 'fade';
    </script>

    <div class="col">
        <h2>Artists with new releases</h2>
        <div class="row">
            <div id="artist_block">
            </div>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function (e) {
            document.body.className = '';
        });
        var artists = JSON.parse('{{ artists | tojson | safe }}');
    </script>
    <script src="/static/js/custom.js"></script>

</body>

</html>